<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02-色块移动.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC4EDBD51CCE112200E4B2A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC4EDBEE1CCE112200E4B2A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC4EDBF91CCE112200E4B2A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
